html,body {
    margin: 20px;
    padding: 0;
    height: 100%;
  }
  
  body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 90%;
    color: #333;
    justify-content: center;
  }
  
  .table-wrapper {
    max-width: 100%;
    overflow: scroll;
  }
  
  table {
    position: relative;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  td, th {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: 0.2s;
    background-color: white;
  }
  
  th {
    background-color: #eee;
    position: sticky;
    top: -1px;
    z-index: 2;
  }

  th:first-of-type {
    left: 0;
    z-index: 3;
  }

  .plus-button {
    padding-right: 50px;
    padding-left: 50px;
    transition: 0.2s;
  }

  .plus-button:hover {
    background-color: #ccc;
    color: #7fcd91;
  }

  .plus {
    font-weight: 800;
    font-size: 32px;
    padding: -30px;
    margin-top: -20px;
  }
  .header {
    background-color: #eee;
    position: sticky;
    left: -1px;
    text-align: left;
  }

  .close-btn {
    display: none;
    transition: 0.2s;
  }

  th:hover .close-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right:0px;
    padding: 0px 2px 4px 4px;
    background-color: #d45079;
    color: white;
    border-radius: 0 0 0 50%;
    line-height: 1;
  }

  .close-btn:after {
    content: "\00d7";
  }

  .close-btn:hover {
    cursor: pointer;
    background-color: #ad2b53;
  }